@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  height: 100vh;
  background-color: #222f35;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
